$actions-icon-color: var(--black);
$actions-icon-size: 1.5rem;
& .product-container {
  background-color: $product-container-bg-color;
  display: grid;
  grid-template-columns: $product-image-container-width $product-image-container-width;
  //porudct image container
  @import "product-image-container";
  //porudct info container
  @import "product-info";
}
