& .cart {
  height: $actions-icon-size;
  position: relative;
  //cart badge
  @import "badge";
  & .action-popup {
    @include action-popup();
    //cart body
    @import "cart-body";
  }
  //show cart body on hover
  &:hover {
    & .action-popup {
      top: $cart-body-hover-top-position;
      opacity: 1;
      visibility: visible;
    }
  }
}
