& .content {
  padding: $product-info-padding-top $product-info-padding-right
    $product-info-padding-bottom $product-info-padding-left;
  //color select
  @import "product-colors";
  & .stars {
    margin-bottom: 0.75rem;
    display: flex;
    justify-content: start;
    align-items: center;
    & img {
      object-fit: cover;
    }
  }
  & .product-name {
    & h1 {
      font-weight: $product-name-text-weight;
      font-size: $product-name-text-size;
      line-height: $product-name-text-line-height;
      letter-spacing: $product-name-text-letter-spacing;
    }
  }
  & .product-code {
    & span {
      font-weight: $product-code-text-weight;
      font-size: $product-code-text-size;
      line-height: $product-code-text-line-height;
    }
  }
  & .product-price {
    & h2 {
      font-weight: $product-price-text-weight;
      font-size: $product-price-text-size;
      line-height: $product-price-text-line-height;
      letter-spacing: $product-price-text-letter-spacing;
      color: $light-blue;
    }
  }
  & .quantity {
    padding: $quantitiy-padding-y $quantitiy-padding-x;
    & select.quantity-select {
      width: $quantitiy-select-width;
      height: $quantitiy-select-height;
      border: none;
      outline: none;
      border-bottom: 1px solid $black;
      transition: border-color 0.2s;
      &:hover {
        border-bottom-color: $light-blue;
      }
    }
  }
  & .colors,
  & .quantity {
    margin-top: 0.75rem;
    & span {
      font-weight: $product-colors-text-weight;
      font-size: $product-colors-text-size;
      line-height: $product-colors-text-line-height;
      display: block;
    }
  }
  & .wish-list {
    height: $wishlist-height;
    display: flex;
    align-items: center;
    & label {
      font-weight: $product-wishlist-text-wieght;
      font-size: $product-wishlist-text-size;
      line-height: $product-wishlist-text-line-height;
      padding-left: $product-wishlist-text-padding-left;
    }
  }
}
