& .content {
  padding: $product-info-padding-top $product-info-padding-right
    $product-info-padding-bottom $product-info-padding-left;
  //product colors
  @import "product-colors";
  //add to favorite
  @import "add-to-favorite";
  //cart button
  @import "add-to-cart-button";
  & .stars {
    margin-bottom: 0.75rem;
    display: flex;
    justify-content: start;
    align-items: center;
    & img {
      object-fit: cover;
    }
  }
  & .product-name {
    & h1 {
      font-weight: $product-name-text-weight;
      font-size: $product-name-text-size;
      line-height: $product-name-text-line-height;
      letter-spacing: $product-name-text-letter-spacing;
    }
  }
  & .product-code {
    & span {
      font-weight: $product-code-text-weight;
      font-size: $product-code-text-size;
      line-height: $product-code-text-line-height;
    }
  }
  & .product-price {
    & h2 {
      font-weight: $product-price-text-weight;
      font-size: $product-price-text-size;
      line-height: $product-price-text-line-height;
      letter-spacing: $product-price-text-letter-spacing;
      color: var(--light-blue);
    }
  }
  & .quantity {
    padding: $quantitiy-padding-y $quantitiy-padding-x;
    & select.quantity-select {
      width: $quantitiy-select-width;
      height: $quantitiy-select-height;
      border: none;
      outline: none;
      border-bottom: 1px solid var(--black);
      transition: border-color 0.2s;
      &:hover {
        border-bottom-color: var(--primary);
      }
    }
  }
  & .colors,
  & .quantity {
    margin-top: $product-colors-text-margin-top;
    & span {
      font-weight: $product-colors-text-weight;
      font-size: $product-colors-text-size;
      line-height: $product-colors-text-line-height;
      display: block;
    }
  }
}
