& .header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  & .actions {
    width: $actions-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .icon {
      color: $actions-icon-color;
      font-size: $actions-icon-size;
    }
    //search input
    @import "search";
  }
}
