& .user-account {
  height: $actions-icon-size;
  position: relative;
  & .action-popup {
    @include action-popup();
    &.account-body {
      right: calc(($actions-icon-size / 2) * -1);
      & ul {
        white-space: nowrap;
        & li {
          & a {
            color: rgba(
              $color: $account-text-color,
              $alpha: $account-text-opacity
            );
            transition: color $transition-time;
            &:hover {
              color: var(--black);
            }
          }
        }
      }
      //popup arrow
      &::after {
        content: "";
        width: 0;
        height: 0;
        border: $cart-body-arrow-size solid transparent;
        border-bottom-color: $account-popup-arrow-color;
        position: absolute;
        top: calc(($account-popup-arrow-size * 2) * -1);
        right: calc($actions-icon-size * 0.75);
      }
    }
  }
  //show cart body on hover
  &:hover {
    & .action-popup {
      top: $cart-body-hover-top-position;
      opacity: 1;
      visibility: visible;
    }
  }
}
