@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");
html {
  font-size: 1.2vw;
}
//**********************
//common css
.icon {
  color: $icon-color;
  font-size: $icon-size;
}
.hover-icon {
  transition: scale $transition-time;
  &:hover {
    scale: 1.2;
  }
}
.cursor-pointer {
  cursor: pointer;
}
//********************
body {
  height: $body-height;
  font-family: $body-font-family;
  background-color: $body-bg-color;
}

.container {
  width: $container-width;
  height: $container-height;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: $wrapper-width;
  height: $wrapper-height;
  display: grid;
  grid-template-columns: $sidebar-width $product-container-width;
  //sidebar
  @import "sidebar";
  //product container
  @import "product-container";
}
