@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");
html {
  font-size: 1.2vw;
}
//**********************
//common css
.icon {
  color: $icon-color;
  font-size: $icon-size;
}
.hover-icon {
  transition: scale $transition-time;
  &:hover {
    scale: 1.2;
  }
}
.cursor-pointer {
  cursor: pointer;
}
//********************
body {
  height: 100vh;
  font-family: "Martel Sans", sans-serif;
  background-color: darken($color: map-get($colors, "bg-color"), $amount: 10);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  width: 70rem;
  height: 37rem;
  display: grid;
  grid-template-columns: $sidebar-width $product-container-width;
  //sidebar
  @import "sidebar";
  //product container
  @import "product-container";
}
