//*****icons
$icon-color: #fff;
$icon-size: 2.25rem;
//*****
//*****sidebar
$sidebar-width: 6.25rem;
$sidebar-height: 100%;
$sidebar-bgc-color: $surface;
//*****product container
$product-container-width: 63.75rem;
$product-container-bg-color: $bg-color;
//*****product image
$product-image-container-width: calc($product-container-width / 2);
//=====product image container=====
$product-image-container-bg-color: rgba(
  $color: $light-blue,
  $alpha: 0.78,
);
$product-image-container-bg-angle: -30deg;
$product-image-container-padding-y: 0.625rem;
$product-image-container-padding-x: 1rem;
//brand
$brand-text-weight: 400;
$brand-text-size: 3.25rem;
$brand-text-line-height: 3.75rem;
//product image
$product-image-width: 23rem;
$product-image-height: 85%;
//================================

//=====product info container=====
//product info
$product-info-padding-top: 1rem;
$product-info-padding-right: 2rem;
$product-info-padding-bottom: 0;
$product-info-padding-left: 0;
//product name
$product-name-text-weight: 800;
$product-name-text-size: 1.75rem;
$product-name-text-line-height: 3rem;
$product-name-text-letter-spacing: -0.03em;
//product code
$product-code-text-weight: 400;
$product-code-text-size: 1.3125rem;
$product-code-text-line-height: 3rem;
//product price
$product-price-text-weight: 900;
$product-price-text-size: 2.5rem;
$product-price-text-line-height: 3rem;
$product-price-text-letter-spacing: -0.04em;
//product colors & Quantity text
$product-colors-text-margin-top: 0.75rem;
$product-colors-text-weight: 400;
$product-colors-text-size: 1.25rem;
$product-colors-text-line-height: 2rem;
//colors
$color-select-size: 1rem;
$color-select-radius: 50%;
//quantity
$quantitiy-padding-y: 0.75rem;
$quantitiy-padding-x: 0;
$quantitiy-select-width: 4rem;
$quantitiy-select-height: 1.5rem;
//add-to-favorite
$favorite-height: 3rem;
$product-favorite-text-wieght: 400;
$product-favorite-text-size: 1rem;
$product-favorite-text-line-height: 3rem;
$product-favorite-text-padding-left: 2.5rem;
$product-favorite-icon-size: 1.5rem;
$product-favorite-icon-color: $black;
//add to cart button
$btn-width: 12rem;
$btn-height: 2.5rem;
$btn-text-weight: 600;
$btn-text-size: 1.5rem;
$btn-text-line-height: 1.25rem;
