//product image container
$product-image-container-bg-color: rgba(
  $color: $light-blue,
  $alpha: 0.78,
);
$product-image-container-bg-angle: -30deg;
$product-image-container-padding-y: 0.625rem;
$product-image-container-padding-x: 1rem;
//brand
$brand-text-weight: 400;
$brand-text-size: 3.25rem;
$brand-text-line-height: 3.75rem;
//product image
$product-image-width: 25rem;
$product-image-height: 85%;
