& .sidebar {
  height: $sidebar-height;
  background-color: $sidebar-bgc-color;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  //   & .menu-button {
  //   }
  & .social {
    height: calc($icon-size * 4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
