& .sidebar {
  height: $sidebar-height;
  background-color: $sidebar-bgc-color;
  padding: $sidebar-padding-y $sidebar-padding-x;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  & .social {
    height: $sidebar-social-menu-height;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
